Repository CNES/gridr: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, jupyter-nb-clear-output

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - pre-commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

chore: update release github workflow and update changelog
  .github/workflows/release-python.yml
  CHANGELOG.md
Due: none

chore(workflow): set deployment_target for macos builds
  .github/workflows/release-python.yml
Due: none

chore(workflow): add MACOSX_DEPLOYMENT_TARGET variable / upgrade actions versions
  .github/workflows/release-python.yml
Due: none

chore(workflow): upgrade actions version for Node.js 24
  .github/workflows/release-python.yml
Due: none

chore(workflow): bump MACOSX_DEPLOYMENT_TARGET to 11.0
  .github/workflows/release-python.yml
Due: none

chore(workflow): Fix github.event.inputs
  .github/workflows/release-python.yml
Due: none

chore(workflow): Fix true comparaison
  .github/workflows/release-python.yml
Due: none

chore(workflow): add debug info
  .github/workflows/release-python.yml
Due: none

chore(workflow): try to fix publishing
  .github/workflows/release-python.yml
Due: none

chore(workflow): finalize the release-python workflow
  .github/workflows/release-python.yml
  CHANGELOG.md
Due: none

chore: fix Makefile to ignore () when retrieving GLIBC version from the 'ldd --version' command
  Makefile
Due: none

chore(CI): bump/add python and rust version used in the CI pipeline
  .gitlab-ci.yml
  Makefile
  rust/Cargo.toml
  rust/gridr-py/src/pyapi/interp/py_bspline_kernel.rs
  rust/gridr/src/gx_macros.rs
  rust/gridr/src/interp/gx_array_view_interp.rs
Due: none

chore: upgrade rust crates pyo3 to 0.29.2 and numpy to 0.29.0
  rust/Cargo.lock
  rust/gridr-py/Cargo.toml
  rust/gridr-py/src/pyapi/interp/py_bspline_kernel.rs
  rust/gridr-py/src/pyapi/interp/py_interp.rs
  rust/gridr-py/src/pyapi/interp/py_linear_kernel.rs
  rust/gridr-py/src/pyapi/interp/py_nearest_kernel.rs
  rust/gridr-py/src/pyapi/interp/py_optimized_bicubic_kernel.rs
  rust/gridr-py/src/pyapi/py_array.rs
  rust/gridr-py/src/pyapi/py_grid_geometry.rs
  rust/gridr/Cargo.toml
Due: none

chore: set Rust MSRV to 1.85.1 - update CHANGELOG
  CHANGELOG.md
  rust/gridr-py/Cargo.toml
  rust/gridr/Cargo.toml
Due: none

chore: update README badges
  README.md
Due: none

chore: add issue templates for general discussion, bug report and feature request
  .gitlab/issue_templates/bug-report.md
  .gitlab/issue_templates/feature-request.md
  .gitlab/issue_templates/general-discussion.md
Due: none

feature: add decimation support for fft_filtering (WIP)
  python/gridr/chain/fft_filtering_chain.py
  python/gridr/core/convolution/fft_filtering.py
  python/gridr/core/utils/array_window.py
  python/gridr/core/utils/parameters.py
  tests/python/gridr/core/convolution/test_fft_filtering.py
  tests/python/gridr/core/utils/test_array_window.py
Due: isort, black, flake8

feature: add decimation support for fft_filtering (WIP)
  python/gridr/chain/fft_filtering_chain.py
  tests/python/gridr/core/convolution/test_fft_filtering.py
Due: isort, black, flake8

feature: add decimation support for fft_filtering (WIP)
  python/gridr/core/convolution/fft_filtering.py
  tests/python/gridr/core/convolution/test_fft_filtering.py
  tests/python/gridr/core/convolution/test_fft_filtering.py.old
Due: isort, black, flake8

feature: add decimation support for fft_filtering (WIP)
  python/gridr/chain/fft_filtering_chain.py
  python/gridr/core/convolution/fft_filtering.py
  python/gridr/core/utils/parameters.py
  tests/python/gridr/chain/test_fft_filtering_chain.py
Due: isort, black, flake8

feature: add decimation support for fft_filtering (WIP)
  CHANGELOG.md
  python/gridr/chain/fft_filtering_chain.py
  python/gridr/core/convolution/fft_filtering.py
  tests/python/gridr/chain/test_fft_filtering_chain.py
  tests/python/gridr/core/convolution/test_fft_filtering.py
Due: isort, black, flake8

feature: add decimation support for fft_filtering (WIP)
  CHANGELOG.md
  python/gridr/chain/fft_filtering_chain.py
  python/gridr/core/convolution/fft_filtering.py
  python/gridr/core/utils/array_window.py
  tests/python/gridr/chain/test_fft_filtering_chain.py
  tests/python/gridr/core/convolution/test_fft_filtering.py
  tests/python/gridr/core/utils/test_array_window.py
Due: isort, black, flake8

feature: add decimation support for fft_filtering (WIP)
  pyproject.toml
  python/gridr/chain/fft_filtering_chain.py
  python/gridr/core/convolution/fft_filtering.py
Due: isort, black, flake8

feature: add decimation support for fft_filtering (WIP)
  tests/python/gridr/chain/test_fft_filtering_chain.py
  tests/python/gridr/core/convolution/test_fft_filtering.py
Due: isort, black, flake8

Add decimation and window support for both chain and core fft filtering
  CHANGELOG.md
  pyproject.toml
  python/gridr/chain/fft_filtering_chain.py
  python/gridr/core/convolution/fft_filtering.py
  python/gridr/core/utils/array_window.py
  python/gridr/core/utils/parameters.py
  tests/python/gridr/chain/test_fft_filtering_chain.py
  tests/python/gridr/core/convolution/test_fft_filtering.py
  tests/python/gridr/core/convolution/test_fft_filtering.py.old
  tests/python/gridr/core/utils/test_array_window.py
Due: isort, black, flake8

fix: fix the 'valid' output mode window for boundary different from None for...
  python/gridr/core/convolution/fft_filtering.py
  tests/python/gridr/core/convolution/test_fft_filtering.py
Due: isort, black, flake8

chore: migrate from black/isort/flake8 to ruff
  .pre-commit-config.yaml
  docs/source/developer_guide/contributing_to_gridr.rst
  pyproject.toml
  requirements_dev.txt
Due: none

chore: ignore ruff format and fixes commit in git blame
  .git-blame-ignore-revs
Due: none

doc: fix sphinx warnings
  python/gridr/core/filter/lattice.py
  python/gridr/core/grid/grid_mask.py
Due: isort, black, flake8

doc: add first notebooks for fft filtering (core)
  docs/source/_notebooks/fft_filtering_index.rst
  docs/source/_notebooks/index.rst
  docs/source/developer_guide/contributing_to_gridr.rst
  docs/source/notebooks_list.json
  notebooks/fft_filtering_001_getting_started.ipynb
  notebooks/fft_filtering_002_boundary_and_output_mode.ipynb
  notebooks/fft_filtering_003_production_window.ipynb
  notebooks/notebook_utils.py
Due: isort, black, flake8, jupyter-nb-clear-output

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  jupyter-nb-clear-output: any of: \.ipynb$
