Repository CNES/gridr: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, jupyter-nb-clear-output

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - pre-commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

chore(release): prepare for v0.5.1 release
  CHANGELOG.md
  docs/source/conf.py
  docs/source/release_notes/index.rst
  docs/source/release_notes/v0.5.1.md
  pyproject.toml
  rust/gridr/Cargo.lock
  rust/gridr/Cargo.toml
Due: isort, black, flake8

Resolve "grid_resampling:calculate_source_extent: UnboundLocalError: local variable 'array_src_win_read' referenced before assignment"
  CHANGELOG.md
  python/gridr/core/grid/grid_resampling.py
  tests/python/gridr/core/grid/test_grid_resampling.py
Due: isort, black, flake8

chore(release): prepare for v0.5.2 release
  CHANGELOG.md
  docs/source/conf.py
  docs/source/release_notes/index.rst
  docs/source/release_notes/v0.5.2.md
  pyproject.toml
  rust/gridr/Cargo.lock
  rust/gridr/Cargo.toml
Due: isort, black, flake8

chore: fix Makefile to not always build rust
  Makefile
Due: none

chore: added time benchmark for core array_grid_resampling method + hooks to store machine info
  Makefile
  benchmark/chain/fft_filtering_chain/astridz_convolution.py
  benchmark/chain/fft_filtering_chain/benchmark001.py
  benchmarks/__init__.py
  benchmarks/scripts/__init__.py
  benchmarks/scripts/bench.py
  requirements_dev.txt
  tests/python/benchmarks/conftest.py
  tests/python/benchmarks/time/test_time_core_array_grid_resampling.py
Due: isort, black, flake8

chore: change tag for Gitlab CI/CD default runners
  .gitlab-ci.yml
Due: none

chore(benchmark): added `test_time_chain_array_grid_resampling.py` benchmark for basic_array_grid_resampling chain method + benchmark results + CHANGELOG update
  CHANGELOG.md
  benchmarks/results/pytest/Linux-CPython-3.11-64bit/0001_v0.5.2_trex083.sis.cnes.fr.json
  benchmarks/scripts/bench.py
  benchmarks/wrappers/grid_orion.py
  tests/python/benchmarks/time/test_time_chain_array_grid_resampling.py
Due: isort, black, flake8

feat(grid_resampling): add GridPointMesh and optimize interpolation for full-resolution grids
  CHANGELOG.md
  rust/gridr/src/core/gx_grid_resampling.rs
Due: none

chore: fix warnings for unused variables in gx_grid_resampling.rs tests
  rust/gridr/src/core/gx_grid_resampling.rs
Due: none

chore: bump version to 0.6.0.dev0 [skip ci]
  pyproject.toml
  rust/gridr/Cargo.lock
  rust/gridr/Cargo.toml
Due: none

feat(testing): add regression test framework and tests for grid_resampling_chain method
  CHANGELOG.md
  Makefile
  requirements_dev.txt
  tests/python/regression/__init__.py
  tests/python/regression/conftest.py
  tests/python/regression/gridr/chain/test_regression_grid_resampling_chain.py
Due: isort, black, flake8

refactor(interp): use const generics KROWS/KCOLS to factor separable kernel logic
  CHANGELOG.md
  rust/gridr/src/core/interp/gx_array_view_interp.rs
  rust/gridr/src/core/interp/gx_array_view_interp_test.rs
  rust/gridr/src/core/interp/gx_bspline_kernel.rs
  rust/gridr/src/core/interp/gx_linear_kernel.rs
  rust/gridr/src/core/interp/gx_nearest_kernel.rs
  rust/gridr/src/core/interp/gx_optimized_bicubic_kernel.rs
  rust/gridr/src/core/interp/mod.rs
  tests/python/benchmarks/time/test_time_chain_array_grid_resampling.py
  tests/python/benchmarks/time/test_time_core_array_grid_resampling.py
Due: isort, black, flake8

refactor(interp): improve performance for the `GxArrayViewInterpolatorCore::interpolate_masked_partial()` method
  rust/gridr/src/core/interp/gx_array_view_interp.rs
  rust/gridr/src/core/interp/gx_array_view_interp_test.rs
  rust/gridr/src/core/interp/gx_bspline_kernel.rs
  rust/gridr/src/core/interp/gx_linear_kernel.rs
  rust/gridr/src/core/interp/gx_optimized_bicubic_kernel.rs
Due: none

chore: update CHANGELOG
  CHANGELOG.md
Due: none

perf(interp): add safe pre-sliced and unsafe unchecked variants for convolution and mask methods. now uses the unsafe variants.
  CHANGELOG.md
  rust/gridr/src/core/interp/gx_array_view_interp.rs
Due: none

perf(bspline): add optimized all_centered_weight functions for order 3-11
  CHANGELOG.md
  rust/gridr/src/core/interp/gx_bspline_kernel.rs
Due: none

chore(bench): temporary changes to core and chain benchmarks
  tests/python/benchmarks/time/test_time_chain_array_grid_resampling.py
  tests/python/benchmarks/time/test_time_core_array_grid_resampling.py
Due: isort, black, flake8

refactor(mask): Add `start_row_idx` and `start_col_idx` parameters to all window validating functions defined in the `GxArrayViewInterpolatorInputMaskStrategy` trait.
  CHANGELOG.md
  rust/gridr/src/core/interp/gx_array_view_interp.rs
  rust/gridr/src/core/interp/gx_array_view_interp_test.rs
Due: none

feat(mask): Introduce the `BinaryInputMaskWithSafeWindow` input mask strategy
  CHANGELOG.md
  rust/gridr/src/core/gx_grid_resampling.rs
  rust/gridr/src/core/interp/gx_array_view_interp.rs
  rust/gridr/src/pyapi/py_grid_resampling.rs
Due: none

fix: add dimension validation test for input mask in grid resampling chain
  CHANGELOG.md
  python/gridr/chain/grid_resampling_chain.py
Due: isort, black, flake8

fix: fix missing arguments in tests for gx_grid_resampling::array1_grid_resampling
  rust/gridr/src/core/gx_grid_resampling.rs
Due: none

feat(mask, grid_resampling): unify mask handling across the python core and chain grid resampling methods and add new utilities
  CHANGELOG.md
  python/gridr/chain/grid_resampling_chain.py
  python/gridr/core/grid/grid_resampling.py
  python/gridr/core/utils/array_utils.py
  python/gridr/core/utils/array_window.py
  tests/python/gridr/chain/test_grid_resampling_chain.py
  tests/python/gridr/core/grid/test_grid_resampling.py
  tests/python/gridr/core/utils/test_array_window.py
  tests/python/regression/gridr/chain/test_regression_grid_resampling_chain.py
Due: isort, black, flake8

fix: fix standalone_mode when pad is None
  python/gridr/core/grid/grid_resampling.py
Due: isort, black, flake8

feat(safe_window): safe_window usage is activated for all interpolator (bspline included)
  python/gridr/cdylib/__init__.py
  python/gridr/chain/grid_resampling_chain.py
  python/gridr/core/grid/grid_resampling.py
  python/gridr/core/interp/bspline_prefiltering.py
  python/gridr/core/utils/array_pad.py
  rust/gridr/src/core/interp/gx_array_view_interp.rs
  rust/gridr/src/core/interp/gx_array_view_interp_test.rs
  rust/gridr/src/core/interp/gx_bspline_kernel.rs
  rust/gridr/src/core/interp/gx_bspline_prefiltering.rs
  rust/gridr/src/pyapi/interp/py_bspline_kernel.rs
  rust/gridr/src/pyapi/interp/py_bspline_prefiltering.rs
  rust/gridr/src/pyapi/py_bindings.rs
Due: isort, black, flake8

feat(grid_resampling): extend test coverage for grid_resampling
  tests/python/gridr/core/grid/test_grid_resampling.py
Due: isort, black, flake8

doc: add a new notebook to dive into grid resampling standalone preprocessing
  notebooks/grid_resampling_core_standalone.ipynb
  notebooks/grid_resampling_plot_utils.py
Due: isort, black, flake8, jupyter-nb-clear-output

chore: update changelog
  CHANGELOG.md
Due: none

fix: fix test for bad safe window
  tests/python/gridr/core/grid/test_grid_resampling.py
Due: isort, black, flake8

fix: fix indexing error with python 3.10
  python/gridr/core/grid/grid_resampling.py
Due: isort, black, flake8

docs(notebooks): split core/chain/masking tutorials into focused series
  CHANGELOG.md
  docs/source/_notebooks/core_masking_index.rst
  docs/source/_notebooks/grid_resampling_chain_index.rst
  docs/source/_notebooks/grid_resampling_index.rst
  docs/source/_notebooks/index.rst
  docs/source/conf.py
  docs/source/notebooks_list.json
  notebooks/chain_notebook_utils.py
  notebooks/core_masking_001_conventions.ipynb
  notebooks/core_masking_002_rasterize.ipynb
  notebooks/core_masking_003_build_mask_geometries.ipynb
  notebooks/core_masking_004_build_mask_raster.ipynb
  notebooks/core_masking_005_combined.ipynb
  notebooks/grid_masking_001.ipynb
  notebooks/grid_resampling_001.ipynb
  notebooks/grid_resampling_001_getting_started.ipynb
  notebooks/grid_resampling_002_geometric_transformations.ipynb
  notebooks/grid_resampling_003_output_control.ipynb
  notebooks/grid_resampling_004_masking.ipynb
  notebooks/grid_resampling_005_bspline_masking.ipynb
  notebooks/grid_resampling_006_boundary_conditions.ipynb
  notebooks/grid_resampling_007_standalone_mode.ipynb
  notebooks/grid_resampling_008_pipeline_mode.ipynb
  notebooks/grid_resampling_chain_000_overview.ipynb
  notebooks/grid_resampling_chain_001.ipynb
  notebooks/grid_resampling_chain_001_getting_started.ipynb
  notebooks/grid_resampling_chain_002_output_mask.ipynb
  notebooks/grid_resampling_chain_003_grid_mask.ipynb
  notebooks/grid_resampling_chain_004_source_mask.ipynb
  notebooks/grid_resampling_chain_005_geometry_masks.ipynb
  notebooks/grid_resampling_chain_006_shift_and_window.ipynb
  notebooks/grid_resampling_chain_007_io_memory.ipynb
  notebooks/notebook_utils.py
Due: isort, black, flake8, jupyter-nb-clear-output

feat: new SharedArray class and backends for different modes (shm, mmap, memfd) + tests suite
  CHANGELOG.md
  Makefile
  docs/source/api_python/scaling/index.rst
  docs/source/api_python/scaling/shared_array.rst
  docs/source/environment_variables.rst
  docs/source/index.rst
  python/gridr/chain/grid_mask_chain.py
  python/gridr/chain/grid_resampling_chain.py
  python/gridr/scaling/shared_array.py
  python/gridr/scaling/shmutils.py
  scripts/reflow_md.py
  tests/python/gridr/scaling/test_shared_array.py
Due: isort, black, flake8

Resolve "security_update_black_bokeh"
  requirements_dev.txt
Due: none

chore: delete doc directory and move doc/images to docs/source/_static/images
  CHANGELOG.md
  README.md
  doc/examples/example_grid_mask_chain_masked_tif.py
  doc/examples/example_grid_resampling.py
  docs/source/_static/images/gridr_badge.svg
  docs/source/_static/images/gridr_logo.png
  docs/source/_static/images/gridr_logo.svg
Due: isort, black, flake8

benchmark: add results for 0.6.0.dev0 and add util notebook to exploit benchmark results
  benchmarks/notebooks/benchmark_scipy.ipynb
  benchmarks/notebooks/benchmark_version.ipynb
  benchmarks/results/pytest/Linux-CPython-3.11-64bit/0002_v0.6.0.dev0_trex009.sis.cnes.fr.json
  tests/python/benchmarks/time/test_time_chain_array_grid_resampling.py
  tests/python/benchmarks/time/test_time_core_array_grid_resampling.py
Due: isort, black, flake8, jupyter-nb-clear-output

Prepare for v0.6.0 release
  CHANGELOG.md
  NOTICE
  benchmarks/scripts/parse_results.py
  docs/source/conf.py
  docs/source/release_notes/images/benchmarks/benchmark_scipy_v0.6.0.dev0.png
  docs/source/release_notes/index.rst
  docs/source/release_notes/v0.5.0.md
  docs/source/release_notes/v0.5.1.md
  docs/source/release_notes/v0.5.2.md
  docs/source/release_notes/v0.6.0.md
  pyproject.toml
  rust/gridr/Cargo.lock
  rust/gridr/Cargo.toml
Due: isort, black, flake8

feat(cargo): expose rlib and make pyo3 and numpy optional for usage by external rust crates
  rust/gridr/Cargo.toml
  rust/gridr/src/lib.rs
Due: none

chore: bump version to 0.7.0.dev0 [skip ci]
  pyproject.toml
  rust/gridr/Cargo.lock
  rust/gridr/Cargo.toml
Due: none

doc: Align pixel center terminology with OGC standards
  CHANGELOG.md
  docs/source/conf.py
  docs/source/index.rst
  docs/source/references.rst
  docs/source/standards.rst
  docs/source/theoretical_foundations/image_geometry.rst
  docs/source/theoretical_foundations/resampling.rst
  notebooks/core_masking_001_conventions.ipynb
Due: isort, black, flake8, jupyter-nb-clear-output

chore: init GitHub Actions for python release
  .github/workflows/release-python.yml
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  jupyter-nb-clear-output: any of: \.ipynb$
