Repository CNES/gridr: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, jupyter-nb-clear-output

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - pre-commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

feat: Resolve "Support other types than F64 for output data in gridr_resampling_chain" - v0.4.1
  .gitlab-ci.yml
  CHANGELOG.md
  python/gridr/chain/grid_resampling_chain.py
  python/gridr/core/utils/array_utils.py
  tests/python/gridr/chain/test_grid_resampling_chain.py
  tests/python/gridr/core/utils/test_array_utils.py
Due: isort, black, flake8

build: update build configuration for ABI3-py310 (pyproject.toml, Cargo.toml, Makefile)
  Makefile
  dist_extra_config.cfg
  pyproject.toml
  rust/gridr/Cargo.toml
Due: none

ci(readthedocs): add .readthedocs.yaml configuration files, changes requirement versions and adapt Makefile to set output dir for sphinx html
  .readthedocs.yaml
  Makefile
  requirements_dev.txt
Due: none

ci(readthedocs): fix required rust version to 1.82 in readthedocs.yaml file
  .readthedocs.yaml
Due: none

ci(readthedocs): fix missing sphinx configuration file entry
  .readthedocs.yaml
Due: none

ci(readthedocs): fix readthedocs.yaml schema
  .readthedocs.yaml
Due: none

ci(readthedocs): add .readthedocs.yaml configuration files, changes...
  .readthedocs.yaml
  Makefile
  README.md
  requirements_dev.txt
Due: none

chore(deps): update pyo3 to 0.26.0
  rust/gridr/Cargo.lock
  rust/gridr/Cargo.toml
Due: none

ci: update release job to activate on tag push
  .gitlab-ci.yml
Due: none

docs(contributing): updates contribution guidelines
  CONTRIBUTING.md
  docs/source/developer_guide/contributing_to_gridr.rst
Due: none

fix(docs): fix indentations in array_utils docstrings
  python/gridr/core/utils/array_utils.py
Due: isort, black, flake8

chore(release): prepare v0.4.2 - Update version number - Update changelog - Update NOTICE file with dependency licenses
  CHANGELOG.md
  NOTICE
  docs/source/conf.py
  pyproject.toml
  rust/gridr/Cargo.lock
  rust/gridr/Cargo.toml
  rust/gridr/NOTICE
  rust/gridr/about.toml
Due: isort, black, flake8

ci: Update .gitlab-ci.yml file for release on tags commit
  .gitlab-ci.yml
Due: none

chore: update project URLs in README and pyproject.toml
  README.md
  pyproject.toml
Due: none

docs: fix contributing guidelines
  docs/source/developer_guide/contributing_to_gridr.rst
Due: none

chore(release): prepare for v0.4.3 release
  CHANGELOG.md
  NOTICE
  docs/source/conf.py
  pyproject.toml
  rust/gridr/Cargo.toml
  rust/gridr/NOTICE
Due: isort, black, flake8

chore(deps): fix missing dependancy to shapely in pyproject.toml
  CHANGELOG.md
  pyproject.toml
Due: none

feature: add the array1_add and array1_add_win2 rust functions in the gx_array_utils.rs module
  rust/gridr/src/core/gx_array_utils.rs
Due: none

feat: create Python bindings for array1_add and array1_add_win rust functions
  rust/gridr/src/pyapi/py_array_utils.rs
  rust/gridr/src/pyapi/py_bindings.rs
Due: none

feat: add Python array_add method in gridr.core.array_utils + tests
  python/gridr/cdylib/__init__.py
  python/gridr/core/utils/array_utils.py
  tests/python/gridr/core/utils/test_array_utils.py
Due: isort, black, flake8

feat: add the core.grid.grid_utils array_shift_grid_coordinates method to apply an inplace shift to the grid coordinates
  python/gridr/core/grid/grid_utils.py
  tests/python/gridr/core/grid/test_grid_utils.py
  tests/python/gridr/core/utils/test_array_utils.py
Due: isort, black, flake8

feat: add grid_shift parameter to grid_resampling_chain.basic_grid_resampling_chain
  python/gridr/chain/grid_resampling_chain.py
  tests/python/gridr/chain/test_grid_resampling_chain.py
Due: isort, black, flake8

fix(precision): stabilize grid coordinate calculations with controlled rounding
  rust/gridr/src/core/gx_const.rs
  rust/gridr/src/core/gx_grid_resampling.rs
Due: none

feat(test): add tests for nearest interpolator in test_grid_resampling_chain.py
  tests/python/gridr/chain/test_grid_resampling_chain.py
Due: isort, black, flake8

feat(doc): expand grid_resampling_chain user guide with the grid shift feature
  notebooks/grid_resampling_chain_001.ipynb
Due: jupyter-nb-clear-output

"chore(changelog): update changelog"
  CHANGELOG.md
Due: none

chore(cargo): update Cargo.lock
  rust/gridr/Cargo.lock
Due: none

feat(doc): reorganize doc menu and init theoretical foundations
  CHANGELOG.md
  docs/source/api_python/modules.rst
  docs/source/developer_guide/index.rst
  docs/source/images/numeric_image.svg
  docs/source/index.rst
  docs/source/theoretical_foundations/image_geometry.rst
  docs/source/theoretical_foundations/resampling.rst
Due: none

feat: add array1_compute_resampling_grid_src_boundaries() Rust function to gx_grid_geometry.rs module to compute grid source boundaries from all valid coordinates + test
  rust/gridr/src/core/gx_grid_geometry.rs
Due: none

chore: add debug-ready code sections in gx_grid_resampling.rs for future troubleshooting
  rust/gridr/src/core/gx_grid_resampling.rs
Due: none

feat: add Python bindings for array1_compute_resampling_grid_src_boundaries Rust functions
  rust/gridr/src/pyapi/py_bindings.rs
  rust/gridr/src/pyapi/py_grid_geometry.rs
Due: none

feat: add array_compute_resampling_grid_src_boundaries method in gridr.core.grid.grid_utils + tests
  python/gridr/cdylib/__init__.py
  python/gridr/core/grid/grid_utils.py
  tests/python/gridr/core/grid/test_grid_utils.py
Due: isort, black, flake8

fix: fix source boundaries computation for grid that do not preserve the source topology
  python/gridr/chain/grid_resampling_chain.py
Due: isort, black, flake8

chore: updates changelog
  CHANGELOG.md
Due: none

chore: Update .gitlab-ci.yml file -temporary change basic python image due to artifactory issue
  .gitlab-ci.yml
Due: none

chore: prepare for release v0.5.0
  NOTICE
  README.md
  docs/source/conf.py
  docs/source/index.rst
  docs/source/release_notes/index.rst
  docs/source/release_notes/v0.5.0.md
  pyproject.toml
  requirements_dev.txt
  rust/gridr/Cargo.lock
  rust/gridr/Cargo.toml
Due: isort, black, flake8

chore: update gridr logo to match dark themes and add badge
  doc/images/gridr.png
  doc/images/gridr_badge.svg
  doc/images/gridr_logo.svg
Due: none

fix(resampling): prevent panic when using 1-pixel window at grid boundary
  CHANGELOG.md
  rust/gridr/src/core/gx_grid_resampling.rs
Due: none

chore: update README banner logo and switch to PNG format for better mobile compatibility
  CHANGELOG.md
  README.md
  doc/images/gridr_logo.png
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  jupyter-nb-clear-output: any of: \.ipynb$
