Repository CNES/gridr: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, jupyter-nb-clear-output

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:   
  - id: end-of-file-fixer
    name: end-of-file-fixer
    language: system
    entry: end-of-file-fixer
    
  - id: check-added-large-files
    name: check-added-large-files
    language: system
    entry: check-added-large-files
    
  - id: mixed-line-ending
    name: mixed-line-ending
    language: system
    entry: mixed-line-ending
    args: [--fix=lf]
    
  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: jupyter-nb-clear-output
    name: jupyter-nb-clear-output
    files: \.ipynb$
    stages: [pre-commit]
    language: system
    entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

doc: fft filtering notebooks (wip)
  docs/source/_notebooks/fft_filtering_index.rst
  docs/source/notebooks_list.json
  notebooks/fft_filtering_001_getting_started.ipynb
  notebooks/fft_filtering_002_boundary_and_output_mode.ipynb
  notebooks/fft_filtering_003_production_window.ipynb
  notebooks/fft_filtering_004_zooming.ipynb
Due: jupyter-nb-clear-output

doc: fft filtering notebooks (wip)
  CHANGELOG.md
  docs/source/_notebooks/fft_filtering_chain_index.rst
  docs/source/_notebooks/index.rst
  docs/source/_static/css/style.css
  docs/source/notebooks_list.json
  docs/source/release_notes/v0.6.0.md
  notebooks/fft_filtering_004_zooming.ipynb
  notebooks/fft_filtering_chain_000_overview.ipynb
  notebooks/fft_filtering_chain_001_getting_started.ipynb
  notebooks/fft_filtering_chain_002_production_window.ipynb
  notebooks/fft_filtering_chain_003_strips_and_memory.ipynb
  python/gridr/chain/fft_filtering_chain.py
  sandbox/fft_convol.py
  sandbox/notebook_tools.py
Due: isort, black, flake8, jupyter-nb-clear-output

fix: migrate from fil to kernel in tests
  tests/python/gridr/chain/test_fft_filtering_chain.py
Due: isort, black, flake8

Doc: Add users guide for fft filtering core and chain modules
  CHANGELOG.md
  docs/source/_notebooks/fft_filtering_chain_index.rst
  docs/source/_notebooks/fft_filtering_index.rst
  docs/source/_notebooks/index.rst
  docs/source/_static/css/style.css
  docs/source/developer_guide/contributing_to_gridr.rst
  docs/source/notebooks_list.json
  docs/source/release_notes/v0.6.0.md
  notebooks/fft_filtering_001_getting_started.ipynb
  notebooks/fft_filtering_002_boundary_and_output_mode.ipynb
  notebooks/fft_filtering_003_production_window.ipynb
  notebooks/fft_filtering_004_zooming.ipynb
  notebooks/fft_filtering_chain_000_overview.ipynb
  notebooks/fft_filtering_chain_001_getting_started.ipynb
  notebooks/fft_filtering_chain_002_production_window.ipynb
  notebooks/fft_filtering_chain_003_strips_and_memory.ipynb
  notebooks/notebook_utils.py
  python/gridr/chain/fft_filtering_chain.py
  python/gridr/core/filter/lattice.py
  python/gridr/core/grid/grid_mask.py
  sandbox/fft_convol.py
  sandbox/notebook_tools.py
  tests/python/gridr/chain/test_fft_filtering_chain.py
Due: isort, black, flake8, jupyter-nb-clear-output

Doc: Resolve "Fix Image Geometry Definition"
  CHANGELOG.md
  docs/source/theoretical_foundations/image_geometry.rst
  docs/source/theoretical_foundations/resampling.rst
Due: none

chore(benchmark): enable benchmark for grid resampling chain - no orion
  tests/python/benchmarks/time/test_time_chain_array_grid_resampling.py
Due: isort, black, flake8

Prepare for v0.7.0 release
  .pre-commit-config.yaml
  CHANGELOG.md
  NOTICE
  benchmarks/results/pytest/Linux-CPython-3.11-64bit/0003_v0.7.0.dev0_trex007.sis.cnes.fr.json
  docs/source/conf.py
  docs/source/release_notes/index.rst
  docs/source/release_notes/v0.7.0.md
  pyproject.toml
  rust/Cargo.lock
  rust/gridr-py/Cargo.toml
  rust/gridr/Cargo.toml
  rust/gridr/NOTICE
  tests/python/benchmarks/time/test_time_chain_array_grid_resampling.py
Due: isort, black, flake8

chore: fix rust version in readthedocs configuration file
  .readthedocs.yaml
Due: none

chore: fix rust version to 1.96 in readthedocs configuration file
  .readthedocs.yaml
Due: none

chore: bump version to 0.8.0.dev0 [skip ci]
  pyproject.toml
  rust/Cargo.lock
  rust/gridr-py/Cargo.toml
  rust/gridr/Cargo.toml
Due: none
